* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #ffd9c0;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: 70px;
  row-gap: 10px;
  justify-content: space-evenly;
  padding-top: 10px;
}
button {
  display: grid;
  justify-content: center;
  border-radius: 8px;
  background-color: #faf0d7;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  position: sticky;
  top: 0px;
  background-color: #faf0d7;
}

.filter {
  display: flex;
  justify-content: center;
  min-height: 2vh;
  padding-top: 10px;
  background-color: #faf0d7;
  position: sticky;
  top: 57px;
}

.kitty {
  position: sticky;
  top: 0px;
}
